body{
  background-color: black;
  color: wheat;
}
.move-btn{
  background-color: transparent;
  border: 2px solid burlywood;
  padding: 15px;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.move-img{
  width: 50px;
 
}
#result{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}
.Score{
  margin-top: 55px;
}
.Reset-score-btn{
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}